<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="prodInfoAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>../logging/info/info_%d{yyyy-MM-dd}_%i.log</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>15</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss, Asia/Seoul} %-5level - [%11.11thread] %-40.40logger{40} :%-4line | %msg%n
            </Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="prodErrorAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>../logging/error/error_%d{yyyy-MM-dd}_%i.log</fileNamePattern>
            <maxFileSize>25MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss, Asia/Seoul} %-5level - [%11.11thread] %-40.40logger{40} :%-4line | %msg%n
            </Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="consoleInfoAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss, Asia/Seoul} %-5level - [%11.11thread] %-40.40logger{40} :%-4line | %msg%n
            </Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="info">
        <springProfile name="prod">
            <appender-ref ref="prodInfoAppender"/>
            <appender-ref ref="prodErrorAppender"/>
            <appender-ref ref="consoleInfoAppender"/>
        </springProfile>
        <springProfile name="ec2">
            <appender-ref ref="consoleInfoAppender"/>
        </springProfile>
        <springProfile name="dev">
            <appender-ref ref="consoleInfoAppender"/>
        </springProfile>
    </root>
</configuration>